*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
   FONTES
=========================== */

@font-face {
  font-family: "Basier";
  src: url("fonts/BasierCircle-Regular.otf") format("truetype");
  font-weight:normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Basier", sans-serif;
  background: #ffffff;
  color: #1c1c1e;
}

/* ===========================
   HEADER ESTILO APPLE
=========================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 10px;
  width: 80%;
  margin: 0 auto;
  background: transparent;
  backdrop-filter: saturate(180%) blur(20px);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left-text {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 38px;
  height: 38px;
}

.brand-name-titulo {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.brand-name-subTitulo {
  font-size: 12px;
  color: #8e8e93;
}

/* NAVIGATION APPLE STYLE */
.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #3a3a3c;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 6px;
  transition: 0.2s ease;
}

.nav a.active {
  border-bottom: 1.8px solid #111;
  color: #111;
}

.nav a:hover {
  color: #111;
}
